<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DXApplication2.Properties.Settings.TiemChungConnectionString"
      connectionString="Data Source=DESKTOP-LKSP5F9\SQLEXPRESS;Initial Catalog=TiemChung;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLTiemChung.Properties.Settings.TiemChungConnectionString"
      connectionString="Data Source=DESKTOP-LKSP5F9\SQLEXPRESS;Initial Catalog=TiemChung;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLTiemChung.Properties.Settings.TiemChungConnectionString1"
      connectionString="Data Source=DESKTOP-3PM2V18\SQLEXPRESS;Initial Catalog=TiemChung;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_TiemChung_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-3PM2V18\SQLEXPRESS;integrated security=SSPI;initial catalog=TiemChung" />
    <add name="localhost_TiemChung_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-3PM2V18\SQLEXPRESS;integrated security=SSPI;initial catalog=TiemChung" />
    <add name="localhost_TiemChung_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-3PM2V18\SQLEXPRESS;integrated security=SSPI;initial catalog=TiemChung" />
    <add name="localhost_TiemChung_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-3PM2V18\SQLEXPRESS;integrated security=SSPI;initial catalog=TiemChung" />
    <add name="QLTiemChung.Properties.Settings.TiemChungConnectionString2"
      connectionString="Data Source=DESKTOP-MCB6N7D\SQLEXPRESS;Initial Catalog=TiemChung;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
     
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>